<section class="mx-3">
  <div class="wow fadeInUp">
<div class="message-container mb-4 ml-md-4">
    <div class="row">
      <div class="col-md-4">
        <img src="[resources:GM.png]" class="rounded-10 img-fluid mb-3" alt="">
       <!-- <h6 class="h6 font-b text-center" >
          H.E. <br>
          Rashed Lahej Al Mansoori
        </h6> -->
        <lfr-editable id="GMNAME" type="rich-text">
           H.E. <br>
          Rashed Lahej Al Mansoori
          
        </lfr-editable>
      </div>
      <div class="col">
        <h6 class="text-left mb-4">
          <i class="icon-quote-left float-left"></i> <br>
          <lfr-editable id="body" type="html">
            
              Abu Dhabi Customs plays a leading and vital role in the
            prosperity of Abu Dhabi through the continuous support it
            provides to the economy and security of the UAE in general
            and Abu Dhabi in particular. It has contributed to the
            sustainable development of the Capital and the development
            of its competitiveness in the field of international trade.
            Abu Dhabi Customs also preserved the security of the
            homeland and Citizens and protects the local community and
            the environment. <br><br>
            The commitment of Abu Dhabi Customs towards the wise
            directions of HH Sheikh Khalifa Bin Zayed Al Nahyan,
            President of the United Arab Emirates and HH Sheikh Mohamed
            Bin Zayed Al Nahyan, Crown Prince of Abu Dhabi, Deputy
            Supreme Commander of the UAE’s Armed Forces, Chairman of Abu
            Dhabi Executive Council; contributed in building an
            integrated strategic customs plan in Abu Dhabi. This plan
            has placed security of local community at the forefront of
            its concerns. It has also focused on developing passengers
            and goods movement procedures, providing distinctive customs
            services as well as collection of customs revenues using
            modern technologies and the best practices in this field.
            <br><br>
            In this sense, we have directed our teams to implement the
            strategic and operational plans and to have perfect
            cooperation and partnership with various elements of society
            at individuals and institutions levels to ensure easiest and
            simplest ways of business continuity with commitment to the
            principles of integrity, transparency and professionalism in
            the provision of customs services. This site provides a
            comprehensive overview of all the information, benefits,
            facilities and services needed by various sectors of
            traders, clearance agents, investors and individuals.
            
          </lfr-editable>
          
        
           
           
           
          <i class="icon-quote-right float-right"></i>
        </h6>
      </div>
    </div>
  </div>
 
 
 

 <div class="col mb-3"><lfr-editable id="latestMessages" type="rich-text">Latest Messages</lfr-editable> </div>
<div class="col advance-search messages">
	<div class="row justify-content-between bg-light rounded-10 p-3 mb-4 mx-auto card-shadowed">
		<div class="col-12 col-lg-3 d-md-flex align-items-center mb-2 mb-lg-0">
			<h5 class="d-flex align-items-center m-0 justify-content-center">
				[@liferay.language key="results" /]
 <span class="badge badge-secondary ml-2" id="totalRes">0</span>
			</h5>
		</div>
		<div class="col-12 col-lg-6 mb-2 mb-lg-0">
			<div class="input-group">
				<div class="input-group-prepend search-input-prepend">
					<span class="input-group-text" id="addon-wrapping"><i class="icon-search"></i></span>
				</div>
				<input type="text" class="form-control search-input no-filter w-50">
				<div class="input-group-prepend search-input-append">

				</div>
			</div>
		</div>
		<div class="col-lg-3 text-center text-lg-right mb-2 mb-lg-0">
			<p class="card-text">
				<a class="prev-btn btn btn-secondary-outline rounded-sm-btn mr-2"><i class="icon-arrow-left"></i></a>
				<span id="pageNum">1/-</span>
				<a class="next-btn btn btn-secondary-outline rounded-sm-btn ml-2"><i class="icon-arrow-right"></i></a>
			</p>
		</div>



	</div>

	<div class="row mt-4" id="gallery-mixed-content">

	</div>
</div>

 
 
</div>
</div>