.chat-popup.dl-popup {
  right: 90px;
  bottom: 90px;
  min-height: 450px;
}

.polls-popup.dl-popup {
  right: 40px;
  bottom: 90px;
}

.dl-popup {
  background: #fff;
  max-width: 350px;
  min-width: 350px;
  min-height: 200px;
  border-radius: 5px;
  position: fixed;
  overflow: hidden;
  z-index: 11;
}

.polls-popup .inline-scroller {
  max-height: unset;
}

.polls-popup .card-horizontal {
  border: none;
}

.polls-popup .panel-body .popover-body {
  padding: 0;
}

.dl-popup .progress {
  height: auto;
}

.dl-popup .progress .progress-bar,
.oda-chat-header,
.oda-chat-header-button {
  background-color: #3D4742;
}

button.btn.tweets-section-btn.collapsed img,
button.btn.tweets-section-btn i {
  display: block;
}

button.btn.tweets-section-btn.collapsed i,
button.btn.tweets-section-btn img {
  display: none;
}



.pulsating-circle {
  position: relative;
  width: 48px;
  height: 48px;
}


.pulsating-circle:before {
  content: "";
  position: absolute;
  display: block;
  width: 96px;
  height: 96px;
  margin-left: -25px;
  margin-top: -33px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #db291c;
  -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215,0.61,0.355,1) infinite;
  animation: pulse-ring 1.25s cubic-bezier(0.215,0.61,0.355,1) infinite;
  z-index: -1;
}




#satisfaction-modal {



    background: #0000004a;
  

  #submitted-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Custom styling for radio image options */

  .radio-option {
    cursor: pointer;
    margin-right: 15px;
  }

  /* Hide radio button and show only the image */
  .radio-option input[type="radio"] {
    display: none;
  }

  /* Add background to selected radio image */
  .radio-option input[type="radio"]:checked+img {
    border-radius: 50%;
  }


  /* Change background color of selected radio images */
  .radio-option:nth-child(1) input[type="radio"]:checked+img {
    background-color: #95dc98;
    /* Color for the first option */
  }

  .radio-option:nth-child(2) input[type="radio"]:checked+img {
    background-color: #ffd24c;
    /* Color for the second option */
  }

  .radio-option:nth-child(3) input[type="radio"]:checked+img {
    background-color: #ff574b;
    /* Color for the third option */
  }

}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}