<div class="polls-display-wrapper">
    <div class="poll-header">
        <div class="poll-actions">
            <a id="select-form-link">
                <svg aria-hidden="true" class="lexicon-icon lexicon-icon-cog">
                    <use xlink:href="/o/classic-theme/images/clay/icons.svg#cog" />
                </svg> [@liferay.language key="select-a-poll" /]
            </a>
            <a id="add-form-link">
                <svg aria-hidden="true" class="lexicon-icon lexicon-icon-plus">
                    <use xlink:href="/o/classic-theme/images/clay/icons.svg#plus" />
                </svg> [@liferay.language key="add" /]
            </a>
            <a id="edit-form-link">
                <svg aria-hidden="true" class="lexicon-icon lexicon-icon-pencil">
                    <use xlink:href="/o/classic-theme/images/clay/icons.svg#pencil" />
                </svg> [@liferay.language key="edit-question" /]
            </a>
        </div>
    </div>

    <div class="poll-box">
        <iframe
            id="poll-iframe"
            src="/web/forms/shared/-/form/${configuration.formInstanceId}"
            width="100%"
            height="400px"
            frameborder="0"
            style="border: none;"
            allowtransparency="true"
        ></iframe>
    </div>
</div>

<div id="loader" class="loader">
    <div class="spinner"></div>
</div>

<div class="survey-container" id="survey-container">
    <div class="survey-heading" id="survey-heading">
    </div>
    <div class="survey-question" id="survey-question">
        </div>
    <div class="survey-results">
        <table id="survey-results-table">
            <thead>
                <tr>
                    <th>%</th>
                    <th>[@liferay.language key="votes" /]</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                </tbody>
        </table>
        <div class="total-votes" id="total-votes">
            </div>
    </div>
</div>

<div id="select-form-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>[@liferay.language key="select-a-poll" /]</h2>
            <span class="close">×</span>
        </div> 
			    <div class="search-container">
            <input type="text" id="search-input" placeholder="Search polls...">
            <svg aria-hidden="true" class="lexicon-icon lexicon-icon-search">
                <use xlink:href="/o/classic-theme/images/clay/icons.svg#search" />
            </svg>
        </div>
        <div class="poll-list" id="poll-list">
            <div id="poll-items-container">
                </div>
        </div>
			<div class="pagination">
                <button class="btn btn-pagination" id="prev-btn" disabled>
                    <svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-left" >
                        <use xlink:href="/o/classic-theme/images/clay/icons.svg#angle-left" />
                    </svg> 
                </button>
                <span id="page-info">Page 1 of 1</span>
                <button class="btn btn-pagination" id="next-btn" disabled>
                     <svg aria-hidden="true" class="lexicon-icon lexicon-icon-angle-right">
                        <use xlink:href="/o/classic-theme/images/clay/icons.svg#angle-right" />
                    </svg>
                </button>
            </div>
        <div class="modal-footer">
            <button class="btn btn-cancel" id="cancel-btn">[@liferay.language key="cancel" /]</button>
            <button class="btn btn-save" id="save-btn">[@liferay.language key="save" /]</button>
        </div>
    </div>
</div>

<div id="add-form-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>[@liferay.language key="add-a-poll" /]</h2>
            <span class="close">×</span>
        </div>
        <div class="add-form-content">
            <iframe
                id="add-form-iframe"
			    width="100%"
                height="500px"
                frameborder="0"
                style="border: none;display: none;"
                allowtransparency="true"
            ></iframe>
        </div>
    </div>
</div>

<div id="edit-form-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>[@liferay.language key="edit-question" /]</h2>
            <span class="close">×</span>
        </div>
        <div class="edit-form-content">
            <iframe
                id="edit-form-iframe"
                width="100%"
                height="500px"
                frameborder="0"
                style="border: none;display: none;"
                allowtransparency="true"
            ></iframe>
        </div>
    </div>
</div>

<script> 
    let selectedFormId = localStorage.getItem('selectedPollId') || "${configuration.formInstanceId}";
    document.addEventListener("DOMContentLoaded", function () {
        const iframe = document.getElementById('poll-iframe');
        if (iframe && selectedFormId) {
            iframe.src = "/web/forms/shared/-/form/"+selectedFormId;
        }
    });
</script>