<div class="p-3 bg-white rounded-10 wow fadeInUp mx-3">

  <div class="bod--div container  mb-2 position-relative">
    <div class="bg-white p-5 d-flex rounded-10 align-items-center justify-content-center  loader-container d-none">
      <div class="loader"></div>
    </div>
    
    <div class="empView d-none">
  <div class="position-relative">

    <div class="mt-2 mb-4 d-flex align-items-center justify-content-between">
      <button class="btn backOrgChart">
        <i class="icon-arrow-left mr-2"></i>[@liferay.language key='back'/]
      </button>

      <p class="card-text">
        <a class="prev-btn btn btn-secondary-outline rounded-sm-btn mr-2 prevPage"><i class="icon-arrow-left"></i></a>
        <span id="pageNum">1/-</span>
        <a class="next-btn btn btn-secondary-outline rounded-sm-btn ml-2 nextPage" ><i class="icon-arrow-right"></i></a>
      </p>
    </div>
    <div class="row position-relative" id="emp-list">
     
    </div>
  </div>
</div>

    <div class="chart-container d-none mt-5">
      <div class="level-1 rectangle text-center">
        <div class="sector--desc">
          <div class="sector--profile-img general-director"></div>

          [#if locale=='en_US']
            <b class="h5">H.E. Rashed Lahej Al Mansoori</b>
            [#else] <b class="h5">سعادة راشد لاحج المنصوري</b>
          [/#if]



          [#if locale=='en_US']
            <div class="sector--title"> <b>General Director</b></div>
            <small class="mb-3 d-none">General Administration of Customs</small>
            [#else]
              <div class="sector--title"><b class="h5">المدير العام </b></div>
              <small class="mb-3 d-none">المدير العام - الإدارة العامة للجمارك</small>
          [/#if]
        </div>


      </div>
    
    <ol class="level-2-wrapper">
      
      

    </ol>
  </div></div>
</div>