<div class="col advance-search links">
	<div class="row justify-content-between bg-light rounded-10 p-3 mb-4 mx-auto card-shadowed overlap-container">
		<div class="col-12 col-md-3 d-md-flex align-items-center mb-2 mb-md-0">
			<h5 class="d-flex align-items-center m-0 justify-content-center">
				Total <span class="badge badge-secondary ml-2" id="totalRes">0</span>
			</h5>
		</div>
		<div class="col-12 col-md-6 mb-2 mb-md-0">
			<div class="input-group">
				<div class="input-group-prepend search-input-prepend">
					<span class="input-group-text" id="addon-wrapping"><i class="icon-search"></i></span>
				</div>
				<input type="text" class="form-control search-input w-50 no-filter">
				<div class="input-group-prepend search-input-append">
 				</div>
			</div>
		</div>
		<div class="col-md-3 text-center text-md-right mb-2 mb-md-0">
			<p class="card-text">
				<a class="prev-btn btn btn-secondary-outline rounded-sm-btn mr-2"><i class="icon-arrow-left"></i></a>
				<span id="pageNum">1/-</span>
				<a class="next-btn btn btn-secondary-outline rounded-sm-btn ml-2"><i class="icon-arrow-right"></i></a>
			</p>
		</div>
	 



	</div>

	<div class="row mt-4" id="gallery-mixed-content">

	</div>
</div>