<section class="mt-5 wow fadeInUp">
  <div class="row align-items-center">
    <div class="col">
      <div class="tweets-container">
        <div class="row justify-content-between mb-5">
          <div class="col-12 col-md-6 text-center text-md-left">
            <lfr-editable id="latestTweets" type="rich-text">Our Latest Tweets</lfr-editable></div>

          <!-- <div  class="col-12 col-md-6 text-md-right d-flex justify-content-center justify-content-md-end align-items-center">
            <button
              type="button"
              role="presentation"
              (click)="prevItem()"
              class="custom-carousel-controls btn-secondary-outline p-0 mr-2 tweets-prev-btn"
            >
              <i class="icon-chevron-left"></i>
            </button>

            <button
              type="button"
              role="presentation"
              (click)="nextItem()"
              class="custom-carousel-controls btn-secondary-outline p-0 ml-2 tweets-next-btn"
            >
              <i class="icon-chevron-right"></i>
            </button>
          </div> -->
        </div>


        <script
              src="https://static.elfsight.com/platform/platform.js"
              data-use-service-core
              defer
            ></script>
            <div
              class="elfsight-app-6b261fb7-3d1e-4930-8e53-08f6ae2ed341"
            ></div>


        <div>
          <div class="owl-carousel tweets-carousel"></div>
        </div>
      </div>
    </div>
  </div>
</section>