<div id="accordion" class="col documents-section">
    <div class="card-shadowed   rounded-10 overflow-hidden">
      <div class="card-header bg-white " id="headingOne">
       
          <button class="btn  w-100 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <lfr-editable id="heading1" type="text">
                 heading1
              </lfr-editable>
           <i class="icon-chevron-up"> </i>
          </button>
      
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body bg-white">
   
          [@liferay_portlet["runtime"] instanceId="Docs1"
             portletName="com_liferay_document_library_web_portlet_DLPortlet" /]
                              
                              
  
        </div>
      </div>
    </div>
    <div class="card-shadowed rounded-10 mt-4 overflow-hidden">
      <div class="card-header bg-white " id="headingTwo">
        
          <button class="btn  collapsed w-100 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <lfr-editable id="heading2" type="text">
                  heading2
               </lfr-editable>
            <i class="icon-chevron-down"> </i>
          </button>
        
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body bg-white">
         [@liferay_portlet["runtime"] instanceId="Docs2"
             portletName="com_liferay_document_library_web_portlet_DLPortlet" /]
  
        </div>
      </div>
    </div>
  
    <div class="card-shadowed rounded-10 mt-4 overflow-hidden">
      <div class="card-header bg-white " id="headingThree">
        
          <button class="btn  collapsed w-100 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <lfr-editable id="heading3" type="text">
                  heading3
               </lfr-editable>
            <i class="icon-chevron-down"> </i>
          </button>
        
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body bg-white">
         [@liferay_portlet["runtime"] instanceId="Docs3"
             portletName="com_liferay_document_library_web_portlet_DLPortlet" /]
  
        </div>
      </div>
    </div>
  
    <div class="card-shadowed rounded-10 mt-4 overflow-hidden">
      <div class="card-header bg-white " id="headingFour">
        
          <button class="btn  collapsed w-100 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <lfr-editable id="heading4" type="text">
                  heading4
               </lfr-editable>
            <i class="icon-chevron-down"> </i>
          </button>
        
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body bg-white">
         [@liferay_portlet["runtime"] instanceId="Docs4"
             portletName="com_liferay_document_library_web_portlet_DLPortlet" /]
  
        </div>
      </div>
    </div>
  
    <div class="card-shadowed rounded-10 mt-4 overflow-hidden">
      <div class="card-header bg-white " id="headingFive">
        
          <button class="btn  collapsed w-100 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <lfr-editable id="heading5" type="text">
                  heading5
               </lfr-editable>
            <i class="icon-chevron-down"> </i>
          </button>
        
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body bg-white">
         [@liferay_portlet["runtime"] instanceId="Docs5"
             portletName="com_liferay_document_library_web_portlet_DLPortlet" /]
  
        </div>
      </div>
    </div>
  
    <div class="card-shadowed rounded-10 mt-4 overflow-hidden">
      <div class="card-header bg-white " id="headingSix">
        
          <button class="btn  collapsed w-100 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <lfr-editable id="heading6" type="text">
                  heading6
               </lfr-editable>
            <i class="icon-chevron-down"> </i>
          </button>
        
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body bg-white">
         [@liferay_portlet["runtime"] instanceId="Docs6"
             portletName="com_liferay_document_library_web_portlet_DLPortlet" /]
  
        </div>
      </div>
    </div>
  
    <div class="card-shadowed rounded-10 mt-4 overflow-hidden">
      <div class="card-header bg-white " id="headingSeven">
        
          <button class="btn  collapsed w-100 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              <lfr-editable id="heading7" type="text">
                  heading7
               </lfr-editable>
            <i class="icon-chevron-down"> </i>
          </button>
        
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body bg-white">
         [@liferay_portlet["runtime"] instanceId="Docs7"
             portletName="com_liferay_document_library_web_portlet_DLPortlet" /]
  
        </div>
      </div>
    </div>
    
    <div class="card-shadowed rounded-10 mt-4 overflow-hidden">
      <div class="card-header bg-white " id="headingEight">
        
          <button class="btn  collapsed w-100 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              <lfr-editable id="heading8" type="text">
                  heading7
               </lfr-editable>
            <i class="icon-chevron-down"> </i>
          </button>
        
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
        <div class="card-body bg-white">
         [@liferay_portlet["runtime"] instanceId="Docs8"
             portletName="com_liferay_document_library_web_portlet_DLPortlet" /]
  
        </div>
      </div>
    </div>
    
    
    
    
    
    <div class="card-shadowed rounded-10 mt-4 overflow-hidden">
      <div class="card-header bg-white " id="heading16">
        
          <button class="btn  collapsed w-100 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
              <lfr-editable id="heading16" type="text">
                  heading7
               </lfr-editable>
            <i class="icon-chevron-down"> </i>
          </button>
        
      </div>
      <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordion">
        <div class="card-body bg-white">
         [@liferay_portlet["runtime"] instanceId="Docs16"
             portletName="com_liferay_document_library_web_portlet_DLPortlet" /]
  
        </div>
      </div>
    </div>
    
     <div class="card-shadowed rounded-10 mt-4 overflow-hidden">
      <div class="card-header bg-white " id="heading18">
        
          <button class="btn  collapsed w-100 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
              <lfr-editable id="heading18" type="text">
                  heading18
               </lfr-editable>
            <i class="icon-chevron-down"> </i>
          </button>
        
      </div>
      <div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordion">
        <div class="card-body bg-white">
         [@liferay_portlet["runtime"] instanceId="Docs18"
             portletName="com_liferay_document_library_web_portlet_DLPortlet" /]
  
        </div>
      </div>
    </div>
    
    
    
    
    
     <div class="card-shadowed rounded-10 mt-4 overflow-hidden">
      <div class="card-header bg-white " id="heading17">
        
          <button class="btn  collapsed w-100 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
              <lfr-editable id="heading17" type="text">
                  heading17
               </lfr-editable>
            <i class="icon-chevron-down"> </i>
          </button>
        
      </div>
      <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordion">
        <div class="card-body bg-white">
         [@liferay_portlet["runtime"] instanceId="Docs17"
             portletName="com_liferay_document_library_web_portlet_DLPortlet" /]
  
        </div>
      </div>
    </div>
  
  
  <div class="card-shadowed   rounded-10 mt-4 overflow-hidden">
      <div class="card-header bg-white " id="heading15">
       
          <button class="btn  w-100 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapse15" aria-expanded="true" aria-controls="collapse15">
              <lfr-editable id="heading115" type="text">
                 heading15
              </lfr-editable>
           <i class="icon-chevron-up"> </i>
          </button>
      
      </div>
  
      <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
        <div class="card-body bg-white">
   
          [@liferay_portlet["runtime"] instanceId="Docs15"
             portletName="com_liferay_document_library_web_portlet_DLPortlet" /]
                              
                              
  
        </div>
      </div>
    </div>
   
  </div>