<section class="wow fadeInUp"><div class="w-100 d-flex  align-items-center justify-content-between mb-4 col">
	 <lfr-editable id="latestInnovations" type="rich-text">Latest Innovations</lfr-editable>
	<a class="btn btn-secondary-outline rounded-20 v-align-gap" href="https://ibtikar.adcustoms.gov.ae/User/Idea/Add" target="_blank"><lfr-editable id="viewMore" type="text">Add an Idea</lfr-editable>  <i class="icon-arrow-right"></i></a>
   
 
 </div> 
<div class="col innovations">
</div>
 
</section>