[#assign accept='Accept' reject ='Reject' maybe= 'Maybe' eventInvitation = 'Event Invitation'/]

[#if locale != 'en_US']

[#assign accept='أقبل' reject ='أرفض' maybe= 'محتمل' eventInvitation = 'دعوة حضور'/]


[/#if]
<div class="px-3">
<div class="col-12 h-100 bg-white p-4 rounded-10">
    <div class="row mb-3">
        <div class="col">
            <h3 id="calendar-title"></h3><span class="badge gold-bg text-white mt-2 mx-0" id="calendar-name"></span>
        </div>
    </div>
    <div class="row  ">
        <div class="col-md-8 h-100">
            <div class="event--description" id="calendarDescription">

            </div>
        </div>
        <div class="col-md-4">
            <div class="card event-acceptance-card my-auto">
                <div class="card-body">
                    <div class="day-month">
                        <div class="month"> </div>
                        <div class="day">  </div>
                    </div>
                    <h5 class="text-truncate d-block">${eventInvitation}</h5>
                    <span class="from-to-event card-text my-4 d-block">
                        </span>
                    <div class="row">
                        <div class="col"> <button class="w-100 btn border status-btn btn-light invitation-action accept-btn"
                                type="button" data-status="accept">
                                ${accept}</button>
                        </div>
                    </div> 

                    <div class=" mt-2 row">
                        <div class="col-md-6"> <button class="w-100 btn status-btn btn-light border invitation-action maybe-btn "
                                type="button" data-status="maybe"> ${maybe}</button></div>
                        <div class="col-md-6 pl-0"> <button
                                class="w-100 btn status-btn btn-light border invitation-action reject-btn" type="button"
                                data-status="decline">
                               ${reject}</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>