<div class="col"><div class="row justify-content-between bg-light rounded-10 p-3 mb-4 mx-auto card-shadowed overlap-container position-relative">
	 
		  <div class="col-md-6 mx-auto">
		  <form method="post" id="search-form" class="input-group">
		    <div class="input-group-prepend search-input-prepend">
					<span class="input-group-text" id="addon-wrapping"><i class="icon-search"></i></span>
				</div>
                        <input id="search-input-bar" type="text" name="" placeholder="Search for..."
                          class="form-control search-input no-filter" autocomplete="off">

                     </form>

	</div>

	</div>
	
	</div>

<script>
   document.getElementById('search-input-bar').placeholder = "${languageUtil.get(locale, 'searchFor', 'Search For')}";
</script>